# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
dist: bionic
addons:
  apt:
    packages:
      - python3-pip
julia:
  - 1.0
  - 1.4
  - nightly
notifications:
  email: false
jobs:
  allow_failures:
    - julia: nightly
  include:
    - stage: "docs"
      julia: 1.4
      os: linux
      script:
        - python3 --version
        - pip3 install --user matplotlib
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
        - julia --project=docs/ -e 'using PyPlot; plot([1,2,3],[1,2,3])'
        - julia --project=docs/ -e 'include(joinpath("docs", "make.jl"))' --color=yes
      after_success: skip
after_success:
# push coverage results to Coveralls and Codecov
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage'
  - julia -e 'using Coverage; Coveralls.submit(Coveralls.process_folder())'
  - julia -e 'using Coverage; Codecov.submit(Codecov.process_folder())'
